# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# production
build/
dist/

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Go
backend/tmp/

# backend/.env
NEWSAPI_KEY=1c5e2d0d86744821aaa4bb4cc04c64c8

